.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("./../../../public/img/board.jpg");
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-stack{
    position:relative;
    img{
        position:absolute;
        width: 120px;
    }
}

.top-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;
    
    &:hover {
        transform: scale(1.05) translateY(-10px);
    }
}

.played-card{
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card{
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) translateX(0) translateY(0) rotate(0deg);
    }
    30% {
        transform: scale(1.7) translateX(0) translateY(0) rotate(0deg);
    }
    60% {
        transform: scale(1.7) translateX(0) translateY(0) rotate(0deg);
    }
    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.player-position{
    position:absolute;
    right: 0;
    z-index: 1;
}

.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom{
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    @media (max-width: 720px) {
        overflow: hidden;
        left:0;
        right:0;
        bottom:0;
    }
}

.scroll-container{
    position:absolute;
    display:flex;
    left:0;
    right:0;
    top: 0;
    overflow-x:auto;
    overflow-y:hidden;
    app-player-mobile{
      margin-left: 8px;  
    }
}
@media (min-width: 981px) {
  .hide-desktop {
    display: none;
  }
}