.player{
    width:100px;
    background-color: grey;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    span{
        font-size: 14px;
        
    }
    img{
        margin-top: 12px;
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: #ffd9e1 !important;
}